fastapi
uvicorn[standard]
mangum
pydantic
python-multipart
langchain
langchain-openai
langchain-community
langchain-core
langchain-cohere
langgraph
openai
cohere
pinecone-client
langchain-pinecone
"numpy<2.0"
scikit-learn
peft
pymupdf
langfuse
mlflow
python-json-logger
httpx
tenacity
tiktoken
